<div class="header">
  <img src="..\assets\img\PrypiatPanorama.jpg" alt="header-photo" />
  <ul class="clearfix">
    <li routerLink="Alone in the Zone" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Alone in the
      Zone</li>

    <li routerLink="/Historia" routerLinkActive="active">Historia</li>
    <li routerLink="/Galeria" routerLinkActive="active">Galeria</li>
    <li routerLink="/Mapa" routerLinkActive="active">Mapa</li>
    <li routerLink="/Kontakt" routerLinkActive="active">Kontakt</li>
  </ul>
</div>

<router-outlet></router-outlet>
