* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
}

img {
  max-width: 120vw;
  height: 25vh;
}

ul {
  position: absolute;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  width: 100vw;
  margin-bottom: 15px;
  margin-top: 10px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.8;

}

ul li {
  color: black;
  text-align: center;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  /* font-weight: 700; */
}

ul li:first-of-type {
  font-weight: 700;
}

ul li:hover {
  color: rgba(255, 0, 0, 0.692);
  transition: 0.5s;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.active {
  background-color: #777;
  color: white;
  /* text-decoration: underline; */
  transform: scale(1.10);
}

footer {
  height: 5vh;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: 0;
}
