<div class="wrapper">
  <div class="article">
    <h1>Czarnobyl - katastrofa, której nie dało się ukryć</h1>
    <h2>26 kwietnia 1986 doszło do wybuchu reaktora nr 4 w elektrowni atomowej Czernobylskaja koło Prypeci na
      Ukrainie.
      Jedna z największych katastrof przemysłowych XX wieku zasiała ziarno strachu przed energią nuklearną w umysłach
      większości mieszkańców Europy.</h2>
    <div class="photo_description clearfix">
      <img class="burning_reactor" src="assets/img/burningReactor.jpg" alt="">
      <span>Widok na odsłonięty w wyniku wybuchu reaktor nr. 4. Awaria w elektrowni jądrowej w Czarnobylu miała
        miejsce 26
        kwietnia 1986 roku. W jej wyniku skażeniu promieniotwórczemu uległ obszar od 125 000 do 146 000 km2 terenu na
        pograniczu Białorusi, Ukrainy i Rosji. W Efekcie skażenia ewakuowano i przesiedlono ponad 350 000 osób.</span>
    </div>
    <p>- Dobry wieczór, towarzysze. Jak wszyscy wiecie, niedawno spotkało nas nieszczęście. Awaria w czarnobylskiej
      elektrowni atomowej. Dotknęła ona boleśnie obywateli radzieckich. Poruszyła społeczność międzynarodową. Po raz
      pierwszy w praktyce zetknęliśmy się z tak niebezpieczną siłą, jaką jest energia nuklearna, która wymknęła się
      spod
      kontroli - mówił po katastrofie Michaił Gorbaczow.</p>
    <h2>Przed katastrofą</h2>
    <p>
      Budowę eletrowni atomowej w Czarnobylu rozpoczęto w 1969 roku, a jej rozbudowa trwała praktycznie aż do
      katastrofy
      w kwietniu 1986 roku. W tym czasie wybudowano cztery reaktory o mocy 1000 MW każdy. Tuż przed wypadkiem
      szacowano,
      że elektrownia dostarcza ok. 10 proc. całkowitej energii elektrycznej dla Ukrainy.
      W pobliżu Czarnobyla leżało 50-tysięczne miasto Prypeć. Było to miasto zasiedlone głównie przez pracowników
      eletrowni jądrowej im. Włodzimierza Lenina. Spokojne życie mieszkańców radykalnie zmieniło się 26 kwietnia 1986
      roku. Awaria reaktora nr 4 zasiała ziarno strachu przed energią nuklearną w umysłach większości mieszkańców
      Europy.
    </p>

    <h2>Chichot historii</h2>
    <p>
      Jak na ironię, katastrofa elektrowni w Czarnobylu zdarzyła się w trakcie testu, który miał służyć poprawie
      bezpieczeństwa. Test miał za zadanie sprawdzenie funkcjonowania systemu, który był odpowiedzialny za chłodzenie
      reaktora w sytuacji awaryjnej. Próbę uważano za całkowicie bezpieczną. Zakładano stopniowe obniżenie mocy
      reaktora, do ok. 1/3 w stosunku do normalnej. Po odcięciu dopływu wody do turbin naukowcy mieli obserwować, czy
      taka ilość energii wystarcza do podtrzymania zasilania, nim rozpędzą się silniki spalinowe, odpowiedzialne za
      utrzymanie działania reaktorów w sytuacji awaryjnej. Test miał trwać minutę.
      W nocy z 25 na 26 kwietnia pracownicy rozpoczęli obniżanie mocy reaktora. Jednak moc spadła bardziej, niż
      planowano, czego wynikiem było tzw. zatrucie ksenonowe. Operatorzy zdecydowali się z powrotem podwyższyć moc
      reaktora, co było błędem i przyczyną katastofy. Załoga całkowicie straciła kontrolę nad reaktorem. O godz. 1.22
      doszło do kolejnego spadku mocy.
    </p>

    <h2>Eksplozja</h2>
    <p>
      Mimo to eksperyment kontynuowano. Test rozpoczął się o godzinie 1.23. Po odłączeniu dopływu pary do pomp moc
      reaktora zaczęła gwałtownie rosnąć. W ciągu paru sekund kilkadziesiąt razy przekroczyła maksymalną moc reaktora.
      Błyskawicznie doszło do reakcji chemicznych, po których nastąpiła eksplozja wodoru. Wybuch rozsadził rdzeń
      reaktora i zerwał przykrywającą go, ważącą 2 tys. ton, stalową płytę. Do atmosfery przedostały się duże ilości
      substancji radioaktywnych. Skażeniu uległ nie tylko teren elektrowni i jej najbliższe otoczenie, ale znaczny
      obszar Europy.
    </p>

    <h2>Reakcja władz radzieckich</h2>

    <p>
      Władze ZSRR początkowo zaprzeczały katastrofie, a następnie podawały skąpe i niemożliwe do zweryfikowania dane.
      Wywołało to w Europie spekulacje o tysiącach ofiar i śmiertelnym zagrożeniu dla mieszkańców Europy.

      - W Polsce już 28 kwietnia zanotowano wyraźny wzrost promieniowania radioaktywnego. W Polsce niesuwerennej,
      podprządkowanej radzieckim interesom informację o katastrofie cenzura przetrzymała przez kilkadziesiat godzin -
      mówił prof. Jerzy Eisler w audycji "Kronika dwóch tysiącleci".

      Oficjalną przyczyną katastrofy, podaną opinii publicznej przez radzieckich ekspertów i sąd, były rażące
      naruszenia
      zasad bezpieczeństwa przez obsługę reaktora. Za winnych uznano kierownictwo elektrowni oraz nadzorującego
      eksperyment Anatolija Diatłowa. Jako jedyny dożył on końca procesu. Skazano go na 10 lat więzienia, ale został
      przedterminowo zwolniony z powodu choroby popromiennej. Przez cały czas bronił obsługi, jako przyczynę
      katastrofy
      podając wady konstrukcyjne reaktora, który nigdy nie powinien zostać dopuszczony do eksploatacji.</p>

    <h2>Skutki</h2>
    <p>
      Skutki katastrofy najbardziej dotknęły terytorium Ukrainy, gdzie skażeniu uległo 9 proc. kraju. Z powodu
      odniesionych ran i w wyniku napromieniowania zginęło 31 pracowników elektrowni i strażaków próbujących ugasić
      pożar. Około tysiąca osób, głównie ratowników i pracowników elektrowni, otrzymało duże dawki promieniowania, co
      doprowadziło do poważnych chorób. Po katastrofie przesiedlono ok. 300 tys. osób, które mieszkały w promieniu 100
      km od elektrowni. Do dziś trwa spór o liczbę ofiar katastrofy.
      - Czy ktoś naprawdę zna skutki Czarnobyla? Czy wiadomo, ilu ludzi zginęło w czasie obłędnej akcji ratunkowej, a
      ilu zmarło w wyniku choroby popromiennej? Ilu jest chorych i ilu jeszcze w przyszłości umrze? Na te pytania
      chyba
      nikt nie potrafi odpowiedzieć.
      <h2>Krajobraz po katastrofie</h2>
      <p>
        Po katastrofie w Czarnobylu zniszczony reaktor niezwłocznie zalano betonowym sarkofagiem, a pozostałe
        sukcesywnie
        wyłączano - ostatni w 2000 roku. Na obszarze 2,5 tys. km kwadratowych wyznaczono zamkniętą strefę buforową. W
        promieniu 10 km od elektrowni utworzono strefę "szczególnego zagrożenia", która do dziś jest zamknięta.
      </p>
  </div>
</div>
