<body>
  <div class="wrapper">
    <section class=intro>
      <h1 class="title">Alone in the Zone</h1>
      <h3 class="subtitle">Zobacz z nami Czarnobylską Strefę Wykluczenia</h3>
    </section>
    <h1>Nasza firma to:</h1>
    <article class=" art1 clearfix">
      <h2>Profesjonalizm</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio iure vero sed quos minima odio
        recusandae dolorum, doloremque nisi suscipit. Repudiandae incidunt sequi, consequatur voluptates quisquam quis
        maxime illum soluta optio, voluptas, beatae corrupti adipisci impedit consequuntur tenetur? Dicta quod eaque
        minus! Animi minus minima nam sed et nostrum?</p>
    </article>
    <article class="art2 clearfix">
      <h2>Pasja</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat commodi ab natus reprehenderit eos
        beatae, sequi error officia a soluta est temporibus veniam at officiis hic quae. Veritatis, molestias autem
        iusto
        explicabo earum non eligendi esse placeat voluptatem sapiente nemo corporis accusamus neque. Sequi excepturi
        laboriosam suscipit pariatur eveniet.</p>
    </article>
    <article class="art3 clearfix">
      <h2>Gwarancja zadowolenia</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima pariatur impedit nihil consectetur
        cupiditate sed perspiciatis fugiat soluta sunt corrupti hic nisi officiis magnam consequatur, quaerat dolorum
        doloremque numquam laborum reiciendis facilis! Quod aut quas neque, ad inventore nesciunt rem, accusamus
        corporis
        ea voluptatem, repudiandae accusantium ut magnam nemo!</p>
    </article>
    <article class="art4 clearfix">
      <h2>Bezpieczeństwo i komfort</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, laudantium distinctio laborum rerum
        reiciendis dolore, vitae tempore placeat neque ex ab! Voluptas, sunt quisquam placeat suscipit at molestiae
        odit.
        Quidem iste ad, suscipit tempore qui doloribus obcaecati doloremque, quae dicta deleniti aliquid inventore
        officia
        voluptatem necessitatibus exercitationem, vero totam delectus.</p>
    </article>

    <footer class="site-footer" role="contentinfo">
      <div class="social-wrapper">
        <ul>
          <li>
            <a href="#" target="_blank">
              <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Logo"
                class="twitter-icon"></a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="https://www.mchenryvillage.com/images/instagram-icon.png" alt="Instagram Logo"
                class="instagram-icon"></a>
          </li>

          <li>
            <a href="#" target="_blank">
              <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico" alt="Facebook Logo"
                class="facebook-icon"></a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img
                src="https://lh3.googleusercontent.com/j_RwVcM9d47aBDW5DS1VkdxUYCkDUCB6wZglv4x-9SmsxO0VaFs7Csh-FmKRCWz9r_Ef=w170"
                alt="Youtube Logo" class="youtube-icon"></a>
          </li>

        </ul>
      </div>
    </footer>

  </div>

</body>
